$black: #000000;
$white: #FFFFFF;
$white-secondary: #EAEBEB;

$bg: #131613;

$dark: #040E07;
$light-dark: #0A110D;
$medium: #1A1E1B;
$light: #2C3333;

$gray: #737573;

$accent: #11AF74;

$font-family: "Inter", sans-serif;

$font-xxl: 32px;
$font-xl: 20px;
$font-m: 14px;
$font-s: 12px;
$font-xs: 10px;